 # Python
__pycache__/
.pytest_cache
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlflow.db
mlruns/

# DVC Cache
.dvc/cache/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment Variables
.env

# Models
models/*.pkl
models/*.joblib

# DVC cache
.dvc/cache/